<h1>Create New Contact</h1>

<form action='/contacts' method='post'>

  <label for="first_name">
    <span>First Name:</span>
    <input id="first_name" type="text" name="first_name" value="">
  </label>

  <label for="last_name">
    <span>Last Name:</span>
    <input id="last_name" type="text" name="last_name" value="">
  </label>

  <label for="email">
    <span>Email:</span>
    <input id="email" type="text" name="email" value="">
  </label>

  <label for="note">
    <span>Note:</span>
    <input id="note" type="text" name="note" value="">
  </label>
