<ul class="show_contact">

  <li><strong>Name:</strong> <%= @contact[:first_name] %> <%= @contact[:last_name] %></li>

  <li><strong>E-mail:</strong> <%= @contact[:email] %></li>

</ul>

<form action="/contacts/<%= @contact.id %>" method="post">
<input type="hidden" name="_method" value="put">
<input type="submit" value="Delete Contact">
</form>
