body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

/*styling HEADER*/
h1 {
  color: white;
  background-color: #51616E;
  padding: 15px 0;
  margin: 0;
  text-align: center;
}

.head_nav {
  padding: 0;
  margin: 0;
}

.head_nav li {
  text-align: center;
  padding: 5px 0;
  margin: 2px auto;
  background-color: #CBCBCF;
  list-style: none;
}

.head_nav a {
  color: white;
  text-decoration: none;
}

/*styling VIEW CONTACTS page*/
.contact_total {
  padding: .5em 0 .5em 10px;
  margin: 10px auto;
  width: 600px;
  background-color: #E2E1DF;
  color: #51616E;
}

.contact_total span {
  font-weight: 900;
  border-bottom: 2px solid white;
}

/*VIEW CONTACTS contact list*/
.contact_list {
  padding: 0;
  margin: 0 auto;
}

.contact_list li {
  padding: .5em 0 .5em 10px;
  margin: 10px auto;
  width: 600px;
  background-color: #D8DDE2;
  list-style: none;
  font-size: 18px;
}

.contact_list a {
  text-decoration: none;
  color: #51616E;
}

/*VIEW CONTACTS edit and delete*/
.edit_contact {
  padding: 5px 0;
  margin: 0;
  font-size: 10px;
}

.edit_contact a {
  padding: 0;
  color: #262631;
}

.edit_contact a:hover {
  color: white;
}

/*SHOW CONTACT pages*/
.show_contact {
  padding: 10px 0;
  margin: 10px auto;
  background-color: #D8DDE2;
  width: 600px;
}

.show_contact li {
  padding-left: 10px;
  color: #51616E;
  list-style: none;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.5em;
}

.show_contact strong{
  color: #262631;
}

/*ADD NEW CONTACT page*/
.new_contact {
  padding: .5em 0 .5em 10px;
  margin: 10px auto;
  width: 600px;
  text-align: center;
  background-color: #E2E1DF;
  color: #51616E;
}

.new_contact label {
  display: block;
}



/*styling FOOTER*/

h5 {
  padding: 10px 0;
  color: white;
  text-align: center;
  background-color: #454554;
  margin: 10px 0 0 0;
}
